@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>SALONES EMPRESARIALES</h1>
    <p class="lead">Esta app le permitirá realizar reservas de salónes para uso empresarial</p>
    <p><a href="https://www.outsourcing.com.co/">ver mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>
            En este modulo encuentra las herramientas necesarias para gestionar los usuarios atendidos
        </p>
    </div>
    <div class="col-md-4">
        <h2>Salones</h2>
        <p>En este modulo encuentra las herramientas necesarias para gestionar los Salones disponibles para ser asignado</p>
    </div>
    <div class="col-md-4">
        <h2>Reservas</h2>
        <p>En este modulo encuentra las herramientas necesarias para gestionar las reservas realizadas</p>
    </div>
</div>